{% extends 'base.html' %}
{% block pageTitle %}
    Your Info
{% endblock pageTitle %}
{% block body %}

<div class="container my-5">
    <h2>Update your details</h2>
    <form action="/update/{{detailsToUpdate.id}}" method="post">
        <div class="mb-3">
            <label for="fName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="fName" value = "{{detailsToUpdate.fName}}" id="fName">
        </div>
        <div class="mb-3">
            <label for="lName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lName" value = "{{detailsToUpdate.lName}}" id="lName">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" value = "{{detailsToUpdate.email}}" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" value = "{{detailsToUpdate.password}}" id="password">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" value = "{{detailsToUpdate.description}}" id="description">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>



{% endblock body %}